[tool.commitizen]
name = "cz_conventional_commits"
version = "0.1.1"
version_files = ["package.json:version", ".cz.toml:version"]
tag_format = "v$version"
update_changelog_on_bump = true
changelog_file = "CHANGELOG.md"
major_version_zero = true
