[tool.commitizen]
name = "cz_conventional_commits"
version = "0.4.0"
version_files = ["composer.json:version"]
tag_format = "v$version"
update_changelog_on_bump = true
changelog_file = "CHANGELOG.md"
major_version_zero = true
